@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {

    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179, 100%, 13%);
    --trans-white:hsla(0, 0%, 100%, 0.75);
    --light-gray:hsl(0, 0%, 95%);
    --row-gap:1.4em;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {

    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Big Shoulders Display', 
                'Lexend Deca', 
                sans-serif,
                cursive;
}

body {
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {

    display: grid;
    grid-template-columns: repeat(12 1fr);
    width: 300px;
    border-radius: 10px;
    margin-top: 40px;
    padding: 1px;
    background-color: inherit;
}
.card {

    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    padding: 20px;
    
}
.logo {

    width: 80px;
    height: auto;
}
p {
    color: var(--trans-white);
    font-family: 'Lexend Deca';
    line-height: 2;
}
.title {
    color: var(--light-gray);
    font-size: 2em;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}

.learn-more {
    background-color: var(--light-gray);
    color: transparent;
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    width: 70px;
    padding: 10px 20px;
    border-radius: 50px;

    border: var(--light-gray) 2px solid;

    transition: all 350ms ease-in-out;
}

.Sedans {
    grid-area: 1/-1 auto;
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;

}

.Sedans .learn-more {
    color: var(--bright-orange);
}
.Sedans .learn-more:hover {
    color: var(--light-gray);
    background-color: var(--bright-orange);
}
.SUVs {
    grid-area: 1/-1 auto;
    background-color: var(--dark-cyan);
}

.SUVs .learn-more {
    color: var(--dark-cyan);
}
.SUVs .learn-more:hover {
    color: var(--light-gray);
    background-color: var(--dark-cyan);
}

.Luxury {
    grid-area: 1/-1 auto;
    background-color: var(--very-dark-cyan);
    border-radius:0 0 10px 10px ;

}

.Luxury .learn-more {
    color: var(--very-dark-cyan);
}

.Luxury .learn-more {
    color: var(--light-gray);
    background-color: var(--very-dark-cyan);
}

@media screen and (min-width:900px){

    .wrapper{

        width: 700px;
    }
    .learn-more {

        margin-top: auto;
    }
    .Sedans{

        grid-area:1 /1 /1 /5;
        border-radius:5px 0 0 5px ;

    }
    .SUVs{
        grid-area: 1/5/1/9;
        border-radius:0;
    } 
    .Luxury {
        grid-area: 1/9/1/13;
        border-radius:0 5px 5px 0 ;
    }
}